body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.logout {
    margin-top: 20px;
}

h1.headline {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    margin: 30px 0;
}

h4.no-products-msg {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.links a {
    width: max-content;
}

.product-form label,
.filter-form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin: 10px 0 5px;
}

.product-form input[type="text"],
.product-form input[type="date"],
.filter-form input[type="text"],
.filter-form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Add styles for the select element */
.product-form select,
.filter-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the dropdown label */
.product-form label[for="select-location"],
.filter-form label[for="select-location-filter"] {
    display: block;
    font-size: 16px;
    color: #333;
    margin: 10px 0 5px;
}

/* Style the dropdown options */
.product-form select option,
.filter-form select option {
    font-size: 16px;
    color: #333;
    padding: 5px;
    background-color: #fff;
}

/* Style the dropdown when it's focused */
.product-form select:focus,
.filter-form select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.product-name {
    font-weight: bold;
}

.expiration-status.expired {
    color: #bf1234;
}

.expiration-status {
    color: #3cb371;
}

.product-container {
    display: flex;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    margin: 10px 0 25px 0;
}

.homepage-link,
.wasted-products-link,
.generate-recipe-link {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin: 30px 0;
}

.homepage-link:hover,
.wasted-products-link:hover,
.generate-recipe-link:hover {
    color: #0056b3;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    width: 100%;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0056b3;
}

.product,
.attribute-label {
    width: 100%;
}

.desktop {
    display: none;
}

.open {
    display: block;
}

.closed {
    display: none;
}

.scan-barcode-container {
    margin-top: 10px;
    position: relative;
}

#clear-filter-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

#scan-barcode:hover {
    background-color: #0056b3;
}

#barcode-scanner {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Media Query for Tablets and Desktops */
@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: table;
    }

    .product,
    .attribute-label {
        width: auto;
        text-align: center;
    }

    #submit-button {
        display: inline-flex;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 12px;
    }

    th.attribute-label {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    button {
        width: auto;
    }

    .button-container {
        text-align: center;
        display: block;
    }

    .scan-barcode-container {
        display: inline-flex;
    }
    .attribute-label {
        font-size: 20px;
        font-weight: bold;
    }

    #barcode-scanner {
        right: unset;
    }

    #reader {
        width: 400px;
    }

    .select-container {
        display: inline-block;
    }

    .filter-form select {
        width: 200px;
    }

    .filter-form input[type="text"],
    .filter-form input[type="date"] {
        width: 200px;
    }

    #filter-button {
        margin: 0 10px;
    }
    #clear-filter-button {
        margin: 0;
    }


}
