/* Style the recipe suggestions */
.recipe-container {
    display: block;
}

pre#recipe-result {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    white-space: pre-wrap;  /* Preserve line breaks */
    word-wrap: break-word;  /* Allow long words to wrap */
    overflow-x: auto;      /* Add horizontal scrollbar if necessary */
}

.recipe-suggestion {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 20px;
}

#recipe-form {
    margin-top: 20px;
}

#ingredients-input-label {
    display: block;
    margin-bottom: 15px;
}

#user-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#regenerate-button {
    margin-top: 30px;
}

#generate-from-database {
    margin-top: 15px;
}