<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css')}}">

    <title>PantryGuardian</title>
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='auth.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html5-qrcode.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scanner.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='recipe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='notification.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sw.js') }}"></script>
</html>