{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <form class="product-form" action="/" method="POST" id="product-form">
        <label for="input-product-name">Product Name</label>
        <input type="text" name="product-name" id="input-product-name" placeholder="Enter the product name" required>

        <label for="input-expiration-date">Expiration Date</label>
        <input type="date" name="expiration-date" id="input-expiration-date" value="{{ current_date }}" required>

        <label for="no-expiration">No Expiration Date</label>
        <input type="checkbox" name="no-expiration" id="no-expiration">

        <label for="select-location">Choose a location</label>
        <select name="locations" id="locations">
            <option value="Fridge">Fridge</option>
            <option value="Freezer (Kitchen)">Freezer (Kitchen)</option>
            <option value="Freezer (Downstairs)">Freezer (Downstairs)</option>
            <option value="Pantry">Pantry</option>
            <option value="Liquor Cabinet">Liquor Cabinet</option>
        </select>

        <label for="select-category">Category</label>
        <select name="category" id="category">
            <option value="Food">Food</option>
            <option value="Veggies">Veggies</option>
            <option value="Meat">Meat</option>
            <option value="Fish">Fish</option>
            <option value="Fruits">Fruits</option>
            <option value="Juice/Beverages">Juice/Beverages</option>
            <option value="Liquor">Liquor</option>
            <option value="Wine">Wine</option>
            <option value="Beer">Beer</option>
            <option value="Whisky">Whisky</option>
            <option value="Bubbly">Bubbly</option>
            <option value="Others">Others</option>
        </select>
        <label for="input-barcode-number">Barcode Number</label>
        <input type="text" name="barcode-number" id="input-barcode-number" placeholder="Enter the barcode number">

        <button type="submit" id="submit-button">Submit</button>

        <div class="scan-barcode-container">
            <button type="button" id="scan-barcode">Scan Barcode</button>
            <div class="closed" id="barcode-scanner">
                <div id="reader"></div>
                <div id="result"></div>
            </div>
        </div>
    </form>
    <div class="links">
        <a class="wasted-products-link" href="/wasted_product_list">Wasted Products</a>
        <a class="generate-recipe-link" href="/generate_recipe">Generate Recipe</a>
    </div>
    
    <h1 class="headline">Product List</h1>
    {% if products|length < 1 %} <h4 class="no-products-msg">There are no products. Create one below!</h4>
        {% else %}
        <form class="filter-form" action="/" method="GET">
            <div class="select-container">
                <label for="location-filter">Location</label>
                <select name="location-filter" id="location-filter">
                {% set locations = ['All', 'Fridge', 'Freezer (Kitchen)', 'Freezer (Downstairs)', 'Pantry'] %}
                {% for location in locations %}
                    <option value="{{ location }}" {% if selected_location == location %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="select-container">
                <label for="category">Category</label>
                <select name="category" id="category">
                    {% set categories = ['All', 'Food', 'Veggies', 'Meat', 'Fish', 'Fruits', 'Juice/Beverages', 'Liquor', 'Wine', 'Beer', 'Whisky', 'Bubbly', 'Others'] %}
                    {% for category in categories %}
                        <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-container">
                <label for="expiration-status">Expiration Status</label>
                <select name="expiration-status" id="expiration-status">
                    <option value="all" {% if selected_status == 'all' %}selected{% endif %}>All</option>
                    <option value="expired" {% if selected_status == 'expired' %}selected{% endif %}>Expired</option>
                    <option value="not_expired" {% if selected_status == 'not_expired' %}selected{% endif %}>Not Expired</option>
                    <option value="not_expiring" {% if selected_status == 'not_expiring' %}selected{% endif %}>No Expiration Date</option>
                </select>
            </div>        
            <div class="select-container">
                <label for="expiration-date">Expiration Date</label>
                <input type="date" name="expiration-date" id="expiration-date">
            </div>
            <button type="submit" id="filter-button">Filter</button>
            <button type="button" id="clear-filter-button">Clear Filter</button>
        </form>
        <!-- Mobile -->
        <div class="mobile">
            {% for product in products %}
            <div class="product-container">
                <div class="attribute-label">Product Name</div>
                <div class="product product-name">{{ product.product_name }}</div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Expiration Date</div>
                <div class="product expiration-date expiration-status" data-product-id="{{ product.product_id }}">
                    {{ product.expiration_date | default('No Expiration Date') }}
                </div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Location</div>
                <div class="product location">{{ product.location }}</div>
            </div>
            <div class="button-container">
                <button class="update-button" data-product-id="{{ product.product_id }}">Update</button>
                <button class="delete-button" data-product-id="{{ product.product_id }}">Delete</button>
                <button class="waste-button" data-product-id="{{ product.product_id }}">Waste</button>
            </div>
            {% endfor %}
        </div>

        <!-- Desktop -->
        <table class="desktop">
            <tr>
                <td class="attribute-label">Name</th>
                <td class="attribute-label">Expiration Date</th>
                <td class="attribute-label">Creation Date</th>
                <td class="attribute-label">Location</th>
                <td class="attribute-label">Category</th>
            </tr>
            {% for product in products %}
            <tr data-product-id="{{ product.product_id }}">
                <td class="product product-name">{{ product.product_name }}</td>
                <td class="product expiration-date expiration-status" data-product-id="{{ product.product_id }}">{{ product.expiration_date | default('') }}</td>
                <td class="product creation-date">{{ product.date_created if 'date_created' in product else '' }}</td>
                <td class="product location">{{ product.location }}</td>               
                <td class="product Category">{{ product.category }}</td>
                <td class="button-container">
                    <button class="update-button" data-product-id="{{ product.product_id }}">Update</button>
                    <button class="delete-button" data-product-id="{{ product.product_id }}">Delete</button>
                    <button class="waste-button" data-product-id="{{ product.product_id }}">Waste</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="logout">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>

        <div id="debug-product-ids"></div>

        {% endif %}
</div>
{% endblock %}