{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Product list</h1>
    {% if products|length < 1 %}
    <h4>There are no products. Create one below!</h4>
    {% else %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Expiration Date</th>
            <th>Creation Date</th>
            <th>Status</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.expiration_date }}</td>
            <td>{{ product.date_created.strftime('%Y-%m-%d') }}</td>
            <td>{{ product.status }}</td>
            <td>
                <a href="/delete_product/{{product.id}}">Delete</a>
                <br>
                <a href="/update_product/{{product.id}}">Update</a>
                <br>
                <a href="/waste_product/{{product.id}}">Wasted</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="product_name">
        <input type="date" name="expiration_date" value="{{ current_date }}">
        <input type="submit" value="Add Product">
    </form>
</div>
{% endblock %}