{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <form class="product-form" action="/" method="POST" id="product-form">
        <label for="input-product-name">Product Name</label>
        <input type="text" name="product-name" id="input-product-name" placeholder="Enter the product name" required>

        <label for="input-expiration-date">Expiration Date</label>
        <input type="date" name="expiration-date" id="input-expiration-date" value="{{ current_date }}" required>

        <label for="select-location">Choose a location:</label>
        <select name="locations" id="locations">
            <option value="Fridge">Fridge</option>
            <option value="Freezer (Kitchen)">Freezer (Kitchen)</option>
            <option value="Freezer (Downstairs)">Freezer (Downstairs)</option>
            <option value="Pantry">Pantry</option>
        </select>

        <label for="input-barcode-number">Barcode Number</label>
        <input type="text" name="barcode-number" id="input-barcode-number" placeholder="Enter the barcode number">

        <button type="submit" id="submit-button">Submit</button>

        <div class="scan-barcode-container">
            <button type="button" id="scan-barcode">Scan Barcode</button>
            <div class="closed" id="barcode-scanner">
                <div id="reader"></div>
                <div id="result"></div>
            </div>
        </div>
    </form>

    <a class="wasted-products-link" href="/wasted_product_list">Wasted Products</a>
    <a class="generate-recipe-link" href="/generate_recipe">Generate Recipe</a>


    <h1 class="headline">Product List</h1>
    {% if products|length < 1 %} <h4 class="no-products-msg">There are no products. Create one below!</h4>
        {% else %}
        <!-- Mobile -->
        <div class="mobile">
            {% for product in products %}
            <div class="product-container">
                <div class="attribute-label">Product Name</div>
                <div class="product product-name">{{ product.product_name }}</div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Expiration Date</div>
                <div class="product expiration-date expiration-status" data-product-id="{{ product.id }}">{{ product.expiration_date.strftime('%b %d %Y') }}</div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Location</div>
                <div class="product location">{{ product.location }}</div>
            </div>
            <div class="button-container">
                <button class="update-button" data-product-id="{{ product.id }}">Update</button>
                <button class="delete-button" data-product-id="{{ product.id }}">Delete</button>
                <button class="waste-button" data-product-id="{{ product.id }}">Waste</button>
            </div>
            {% endfor %}
        </div>

        <!-- Desktop -->
        <table class="desktop">
            <tr>
                <td class="attribute-label">Name</th>
                <td class="attribute-label">Expiration Date</th>
                <td class="attribute-label">Creation Date</th>
                <td class="attribute-label">Location</th>
                <td class="attribute-label">Status</th>
            </tr>
            {% for product in products %}
            <tr data-product-id="{{ product.id }}">
                <td class="product product-name">{{ product.product_name }}</td>
                <td class="product expiration-date">{{ product.expiration_date.strftime('%b %d %Y') }}</td>
                <td class="product creation-date">{{ product.date_created.strftime('%b %d %Y') }}</td>
                <td class="product location">{{ product.location }}</td>                
                <td class="product expiration-status" data-product-id="{{ product.id }}"></td>                
                <td class="button-container">
                    <button class="update-button" data-product-id="{{ product.id }}">Update</button>
                    <button class="delete-button" data-product-id="{{ product.id }}">Delete</button>
                    <button class="waste-button" data-product-id="{{ product.id }}">Waste</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
</div>
{% endblock %}