{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 class="headline">Login</h1>
    <form action="/login" method="POST" class="registration-form">
        <label for="email" class="attribute-label">Email</label>
        <input type="text" name="email" id="email" required class="product" autofocus>
        <label for="password" class="attribute-label">Password</label>
        <input type="password" name="password" id="password" required class="product">
        <input type="hidden" name="next" value="{{next_url}}">
        <button type="submit" class="login-button">Login</button>
    </form>
    <p class="links">
        Don't have an account? <a href="/register" class="wasted-products-link">Register</a>
    </p>
</div>
{% endblock %}
