{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 class="headline">Wasted Product List</h1>
    {% if products|length < 1 %} <h4 class="no-products-msg">There are no products. Create one below!</h4>
        {% else %}
        <!-- Mobile -->
        <div class="mobile">
            {% for product in products %}
            <div class="product-container">
                <div class="attribute-label">Product Name</div>
                <div class="product product-name">{{ product.product_name }}</div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Expiration Date</div>
                <div class="product expiration-date expiration-status" data-product-id="{{ product.id }}"">{{ product.expiration_date }}</div>
            </div>
            <div class="button-container">
                <button class="delete-button" data-product-id="{{ product.id }}">Delete</button>
            </div>
            {% endfor %}
        </div>

        <!-- Desktop -->
        <table class="desktop">
            <tr>
                <td class="attribute-label">Name</th>
                <td class="attribute-label">Expiration Date</th>
                <td class="attribute-label">Wasted Date</th>
                <td class="attribute-label">Status</th>
            </tr>
            {% for product in products %}
            <tr>
                <td class="product product-name">{{ product.product_name }}</td>
                <td class="product expiration-date">{{ product.expiration_date }}</td>
                {% if product.date_wasted != None %}
                <td class="product wasted-date">{{ product.date_wasted.strftime('%Y-%m-%d') }}</td>
                {% endif %}
                {% if product.date_wasted == None %}
                <td class="product wasted-date">None</td>
                {% endif %}
                <td class="product expiration-status" data-product-id="{{ product.id }}"></td>
                <td class="button-container">
                    <button class="delete-button" data-product-id="{{ product.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <a class="wasted-products-link" href="/">Back to Homepage</a>
</div>
</div>
{% endblock %}