{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 class="headline">Wasted Product List</h1>
    {% if products|length < 1 %}
        <h4 class="no-products-msg">There are no wasted products.</h4>
    {% else %}
        <!-- Mobile -->
        <div class="mobile">
            {% for product in products %}
            <div class="product-container">
                <div class="attribute-label">Product Name</div>
                <div class="product product-name">{{ product.product_name }}</div>
            </div>
            <div class="product-container">
                <div class="attribute-label">Expiration Date</div>
                <div class="product expiration-date expiration-status">{{ product.expiration_date }}</div>
            </div>
            <div class="button-container">
                <button class="delete-button" data-product-id="{{ product.product_id }}">Delete</button>
            </div>
            {% endfor %}
        </div>

        <!-- Desktop -->
        <table class="desktop">
            <tr>
                <th class="attribute-label">Name</th>
                <th class="attribute-label">Expiration Date</th>
                <th class="attribute-label">Wasted Date</th>
                <th class="attribute-label">Status</th>
            </tr>
            {% for product in products %}
            <tr>
                <td class="product product-name">{{ product.product_name }}</td>
                <td class="product expiration-date expiration-status">{{ product.expiration_date }}</td>
                <td class="product wasted-date">
                    {% if product.date_wasted is defined %}
                        {{ product.date_wasted }}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td class="button-container">
                    <button class="delete-button" data-product-id="{{ product.product_id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a class="homepage-link" href="/">Back to Homepage</a>
</div>
</div>
{% endblock %}
